<ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Home/Index">

        <div class="sidebar-brand-text mx-2">Quản Lý Công Văn</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/Home/Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Trang Chủ</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Người Dùng
    </div>
    <li class="nav-item">
        <a class="nav-link" href="/User/Index">
            <i class="fas fa-user"></i>
            <span>Người Dùng</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Credential/Index">
            <i class="fas fa-users-cog"></i>
            <span>Phân Quyền</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/UserGroup/Index">
            <i class="fas fa-users"></i>
            <span>Nhóm User</span>
        </a>
    </li>
    <!-- Nav Item - Pages Collapse Menu -->
    <!-- Nav Item - Utilities Collapse Menu -->
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Công Văn
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/CongVan/Index">
            <i class="fas fa-envelope-open-text"></i>
            <span>Công Văn</span>
        </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="/CongVanDi/Index">
            <i class="fas fa-paper-plane"></i>
            <span>Công Văn Đã Gửi</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">


    <!-- Sidebar Message -->


</ul>